* { 
  box-sizing: border-box; 

}

.wrapper {
  max-width: 1100px;
  width:95%;
  padding: 20px;
}

.sidebar {
  max-width: 200px;
  width: 15%;
  float: left;
  margin-right: 20px;
  border: 1px solid blue;
}

.content {
  max-width: 840px;
  width: 80%;
  float: left;
  border:1px solid red;
  overflow: hidden;
}

.footer {
  max-width: 1100px;
  width: 95%;
}

.wrapper,
.footer {
  margin: 0 auto;
  clear: both;
}

// services
.services {
  margin: 0 auto;
  border: 1px solid;
  overflow: hidden;
}

.service { 
  background-color: gray;
  width: 238px;
  padding: 10px;
  float: left;
  margin: 20px;
  display: inline-block;
}

.service button { 
  float: right;
}

.med-button {
  background-color: blue;
  color: white;
  padding: 10px;
  border: none;
}


.footer { border: 1px solid red;}